<md-content layout-padding flex>
    <h2>Personal Data - Control Panel</h2>

    <div id="panelControl" ng-if="user.devices || user.devices.length > 0">
        <md-content class="md-padding" layout-xs="column" layout="column">
            <h3>User: {{user.displayName}}</h3>

            <md-input-container>
                <label>Please select a device</label>
                <md-select ng-change="vm.onDeviceIdSelected()" ng-model="vm.selectedDeviceId">
                    <md-option  ng-value="device.deviceId" ng-repeat="device in user.devices">
                        ID: {{ device.deviceId }} - {{ device.brand }} - {{ device.model }}
                    </md-option>
                </md-select>
            </md-input-container>

            <div ng-if="vm.selectedDeviceId && vm.loginSuccess">
                <div ng-if="user.deviceConfigs && vm.selectedDeviceConfig">
                    <div ng-repeat="(key, val) in vm.selectedDeviceConfig">
                        <div layout="row" ng-if="vm.startWith(key, 'read')">
                            <div layout="row"  flex="20">
                                <md-switch ng-model="vm.selectedDeviceConfig[key]"
                                           ng-change="vm.onSwitchPressed()"
                                           aria-label="{{key}}"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    {{key}}
                                </md-switch>
                            </div>

                            <dib flex="20">
                                <md-switch ng-if="key == 'readAccounts'"
                                           ng-model="vm.selectedDeviceConfig.shareAccounts"
                                           ng-change="vm.onSwitchPressed()"
                                           aria-label="privacy"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    Share
                                </md-switch>

                                <md-switch ng-if="key == 'readGPS'"
                                           ng-model="vm.selectedDeviceConfig.shareGPS"
                                           ng-change="vm.onSwitchPressed()"
                                           aria-label="privacy"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    Share
                                </md-switch>

                                <md-switch ng-if="key == 'readNetStats'"
                                           ng-model="vm.selectedDeviceConfig.shareNetStats"
                                           ng-change="vm.onSwitchPressed()"
                                           aria-label="privacy"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    Share
                                </md-switch>

                                <md-switch ng-if="key == 'readContact'"
                                           ng-model="vm.selectedDeviceConfig.shareContact"
                                           ng-change="vm.onSwitchPressed()"
                                           aria-label="privacy"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    Share
                                </md-switch>

                                <md-switch ng-if="key == 'readDisplay'"
                                           ng-model="vm.selectedDeviceConfig.shareDisplay"
                                           ng-change="vm.onSwitchPressed()"
                                           aria-label="privacy"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    Share
                                </md-switch>

                                <md-switch ng-if="key == 'readAppInfo'"
                                           ng-model="vm.selectedDeviceConfig.shareAppInfo"
                                           ng-change="vm.onSwitchPressed()"
                                           aria-label="privacy"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    Share
                                </md-switch>

                                <md-switch ng-if="key == 'readActivity'"
                                           ng-model="vm.selectedDeviceConfig.shareActivity"
                                           ng-change="vm.onSwitchPressed()"
                                           aria-label="privacy"
                                           ng-true-value="'1'" ng-false-value="'0'">
                                    Share
                                </md-switch>
                            </dib>

                            <div flex="60">
                                <!-- slider for account type data -->
                                <div ng-if="key == 'readAccounts'" layout="row">
                                    <md-slider flex="70"
                                               ng-change="vm.onSliderMoved(key, vm.timeAccounts, vm.timeAccountsAllowed)"
                                               md-discrete ng-model="vm.timeAccounts"
                                               step="1" min="1" max="24" aria-label="{{key}}"
                                               ng-disabled="vm.selectedDeviceConfig[key] == 0">
                                    </md-slider>
                                    <div ng-if="vm.selectedDeviceConfig[key] != 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">get account data every {{vm.timeAccounts}} hours</span>
                                    </div>
                                    <div ng-if="vm.selectedDeviceConfig[key] == 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">don't get account data</span>
                                    </div>
                                    <div flex="10">
                                        <md-button ng-click="vm.openDialog($event, key)">
                                            <md-icon>info_outline</md-icon>
                                        </md-button>
                                    </div>
                                </div>

                                <!-- slider for gps type data -->
                                <div ng-if="key == 'readGPS'" layout="row">
                                    <md-slider flex="70"
                                               ng-change="vm.onSliderMoved(key, vm.timeGPS, vm.timeGPSAllowed)"
                                               md-discrete ng-model="vm.timeGPS"
                                               step="1" min="1" max="60" aria-label="{{key}}"
                                               ng-disabled="vm.selectedDeviceConfig[key] == 0">
                                    </md-slider>
                                    <div ng-if="vm.selectedDeviceConfig[key] != 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">get GPS data every {{vm.timeGPS}} minutes</span>
                                    </div>
                                    <div ng-if="vm.selectedDeviceConfig[key] == 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">don't get GPS data</span>
                                    </div>
                                    <div flex="10">
                                        <md-button ng-click="vm.openDialog($event, key)">
                                            <md-icon>info_outline</md-icon>
                                        </md-button>
                                    </div>
                                </div>

                                <!-- slider for netstats type data -->
                                <div ng-if="key == 'readNetStats'" layout="row">
                                    <md-slider flex="70"
                                               ng-change="vm.onSliderMoved(key, vm.timeNetStats, vm.timeNetStatsAllowed)"
                                               md-discrete ng-model="vm.timeNetStats"
                                               step="1" min="1" max="24" aria-label="{{key}}"
                                               ng-disabled="vm.selectedDeviceConfig[key] == 0">
                                    </md-slider>
                                    <div ng-if="vm.selectedDeviceConfig[key] != 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">get net statistics data every {{vm.timeNetStats}} hours</span>
                                    </div>
                                    <div ng-if="vm.selectedDeviceConfig[key] == 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">don't get net statistics data</span>
                                    </div>
                                    <div flex="10">
                                        <md-button ng-click="vm.openDialog($event, key)">
                                            <md-icon>info_outline</md-icon>
                                        </md-button>
                                    </div>
                                </div>

                                <!-- slider for contact type data -->
                                <div ng-if="key == 'readContact'" layout="row">
                                    <md-slider flex="70"
                                               ng-change="vm.onSliderMoved(key, vm.timeContact, vm.timeContactAllowed)"
                                               md-discrete ng-model="vm.timeContact"
                                               step="1" min="1" max="24" aria-label="{{key}}"
                                               ng-disabled="vm.selectedDeviceConfig[key] == 0">
                                    </md-slider>
                                    <div ng-if="vm.selectedDeviceConfig[key] != 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">get contacts data every {{vm.timeContact}} hours</span>
                                    </div>
                                    <div ng-if="vm.selectedDeviceConfig[key] == 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">don't get contact data</span>
                                    </div>
                                    <div flex="10">
                                        <md-button ng-click="vm.openDialog($event, key)">
                                            <md-icon>info_outline</md-icon>
                                        </md-button>
                                    </div>
                                </div>

                                <!-- slider for activity type data -->
                                <div ng-if="key == 'readActivity'" layout="row">
                                    <md-slider flex="70"
                                               ng-change="vm.onSliderMoved(key, vm.timeActivity, vm.timeActivityAllowed)"
                                               md-discrete ng-model="vm.timeActivity"
                                               step="1" min="1" max="60" aria-label="{{key}}"
                                               ng-disabled="vm.selectedDeviceConfig[key] == 0">
                                    </md-slider>
                                    <div ng-if="vm.selectedDeviceConfig[key] != 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">get activity data every {{vm.timeActivity}} minutes</span>
                                    </div>
                                    <div ng-if="vm.selectedDeviceConfig[key] == 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">don't get activity data</span>
                                    </div>
                                    <div flex="10">
                                        <md-button ng-click="vm.openDialog($event, key)">
                                            <md-icon>info_outline</md-icon>
                                        </md-button>
                                    </div>
                                </div>

                                <!-- slider for display type data, slider disabled by default -->
                                <div ng-if="key == 'readDisplay'" layout="row">
                                    <md-slider flex="70"
                                               ng-change="vm.onSliderMoved(key, vm.timeDisplay, vm.timeDisplayAllowed)"
                                               md-discrete ng-model="vm.timeDisplay"
                                               step="1" min="1" max="24" ng-disabled="true" aria-label="{{key}}">
                                    </md-slider>
                                    <div ng-if="vm.selectedDeviceConfig[key] != 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">get display data </span>
                                    </div>
                                    <div ng-if="vm.selectedDeviceConfig[key] == 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">don't get display data</span>
                                    </div>
                                    <div flex="10">
                                        <md-button ng-click="vm.openDialog($event, key)">
                                            <md-icon>info_outline</md-icon>
                                        </md-button>
                                    </div>
                                </div>

                                <!-- slider for app info type data, slider disabled by default -->
                                <div ng-if="key == 'readAppInfo'" layout="row">
                                    <md-slider flex="70"
                                               ng-change="vm.onSliderMoved(key, vm.timeAppInfo, vm.timeAppInfoAllowed)"
                                               md-discrete ng-model="vm.timeAppInfo"
                                               step="1" min="1" max="24" ng-disabled="true" aria-label="{{key}}">
                                    </md-slider>
                                    <div ng-if="vm.selectedDeviceConfig[key] != 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">get appinfo data </span>
                                    </div>
                                    <div ng-if="vm.selectedDeviceConfig[key] == 0" flex="20" layout layout-margin layout-align="center center">
                                        <span class="md-body-1">don't get appinfo data</span>
                                    </div>
                                    <div flex="10">
                                        <md-button ng-click="vm.openDialog($event, key)">
                                            <md-icon>info_outline</md-icon>
                                        </md-button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- save configuration button -->
                    <md-button class="md-raised md-primary" ng-click="vm.sendConfiguration()">Save</md-button>

                    <!-- get data button -->
                    <md-button class="md-raised md-primary" ng-click="vm.getDataFromDevice()">
                        <md-icon aria-label="get_data">get_app</md-icon>
                        Get Data from this Device
                    </md-button>

                </div>
                <div ng-if="!vm.selectedDeviceConfig || vm.selectedDeviceConfig == ''">
                    <p>Error! No configuration stored for this device.</p>
                </div>
            </div>
        </md-content>
    </div>

    <div ng-if="!user.devices || user.devices.length == 0">
        <p>No devices linked. Please download the CrowdPulse App.</p>
    </div>

</md-content>