<sidenav-view id="sidenav-view" layout="column" params="vm.params"></sidenav-view>

<md-content layout-padding ng-if="!vm.params.dataViz">
	<p>This is the main view page.</p>
	<p>Please select a data visualization type from the left sidebar.</p>
</md-content>

<md-content flex layout="column">
	<jqcloud ng-if="vm.params.dataViz === 'word-cloud'" words="vm.stat" flex auto-resize="true"></jqcloud>
	<chart ng-if="vm.params.dataViz === 'word-pie'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'word-bar'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'sentiment-pie'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'topic-pie'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'topic-bar'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'cluster-pie'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'cluster-bar'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'sentiment-bar'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'sentiment-timeline'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'message-timeline'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'personaldatasource-pie'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'personaldataappinfo-bar'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'personaldataappinfo-timeline'" flex options="vm.stat"></chart>
	<chart ng-if="vm.params.dataViz === 'personaldatanetstat-timeline'" flex options="vm.stat"></chart>
	<sigma ng-if="vm.params.dataViz === 'profile-graph'" flex graph="vm.stat"></sigma>
	<synonyms ng-if="vm.params.dataViz === 'index-search'" synonym-groups="vm.stat"></synonyms>
	<div ng-if="vm.params.dataViz === 'topic-messages'">
		<div class="col-xs-12">
			<md-list flex>
				<md-subheader class="md-no-sticky">TOPIC {{vm.params.topic}}</md-subheader>
				<md-list-item class="md-2-line" ng-repeat="item in vm.stat" ng-click="null">
					<div class="md-list-item-text" layout="column">
						<h3>{{ item.fromuser }}</h3>
						<p>{{ item.text }}</p>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</div>
	<div ng-if="vm.params.dataViz === 'cluster-messages'">
		<div class="col-xs-12">
			<md-list flex>
				<md-subheader class="md-no-sticky">TOPIC {{vm.params.topic}}</md-subheader>
				<md-list-item class="md-2-line" ng-repeat="item in vm.stat" ng-click="null">
					<div class="md-list-item-text" layout="column">
						<h3>{{ item.fromuser }}</h3>
						<p>{{ item.text }}</p>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</div>

	<div ng-if="vm.params.dataViz === 'sentiment-messages'">
		<div class="col-xs-12">
			<md-list flex>
				<md-subheader class="md-no-sticky">SENTIMENT {{vm.params.topic}}</md-subheader>
				<md-list-item class="md-2-line" ng-repeat="item in vm.stat" ng-click="null">
					<div class="md-list-item-text" layout="column">
						<h3>{{ item.fromuser }}</h3>
						<p>{{ item.text }}</p>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</div>

	<leaflet ng-if="vm.params.dataViz === 'map' || vm.params.dataViz === 'personaldatagps-map'"
			 lf-center="center"
			 event-broadcast="vm.stat.events"
			 paths="paths"
			 controls="controls"
			 markers="vm.stat.markers"
			 layers="layers"
			 defaults="defaults"
			 markers-nested="true"
			 width="100%" height="100%" >
	</leaflet>

</md-content>
